{% load static %}
<footer class="footer">
    <div class="footer-text">
        <p>Copyright &copy; 2023 by ByabReseacher | All rights reserved</p>
    </div>
    <div class="footer-iconTop">
        <a href="#home">
            <i class="bx bx-arrow-from-bottom"></i>
        </a>
    </div>
</footer>

<!-- 
<style>
    .footer {
        width: 100%;
        left: 0%;
        top: 120%;
        position: absolute;
        margin-top: 3rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding: 2rem 9%;
        background: var(--second-color);
    }

    .footer-text p {
        font-size: 1.6rem;
    }

    .footer-iconTop a {
        display: inline;
        justify-content: center;
        align-items: center;
        padding: 0.8rem;
        background-color: var(--main-color);
        border-radius: 0.8rem;
    }
</style> -->